@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.winners {
  box-sizing: border-box;
  height: var(--heigh);
  display: flex;
  flex-direction: column;
  border-right: var(--line) solid var(--basic-dark);
  width: var(--width);

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }
  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }

  &__header {
    padding: 2rem;
    border-bottom: var(--line) solid var(--basic-dark);

    @include mw($tb) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 5rem;
      border-top: var(--line) solid var(--basic-dark);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--basic-dark);

    @include mw($tb) {
      font-size: 2.25rem;
      line-height: 1;
    }
  }
}

.content {
  position: relative;
  flex-grow: 1;
  height: 100%;

  &__list {
    min-height: 100%;
    width: 100%;

    @include mw($tb) {
    }
  }
}

.control_link {
  display: flex;
  align-self: flex-start;
  background: var(--video-link);
  max-width: 100%;
  position: sticky;
  top: 3rem;
  width: 100%;

  @include mw($tb) {
    order: 2;

    &--short {
      margin-bottom: 0;
    }
  }

  &--image {
    flex-grow: 1;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-green);
    }
  }

  &__content {
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: calc(100% - 4rem);

    display: flex;
    align-items: center;

    @include mw($tb) {
      padding-right: 1rem;
    }
  }

  &__label {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: var(--basic-dark);

    @include mw($tb) {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: var(--basic-dark);
    }
  }
}

.row {
  display: flex;
  border-bottom: var(--line) solid var(--basic-dark);

  @include mw($tb) {
    flex-direction: column;
  }
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    width: 100%;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  &--image {
    // padding: 3rem 2rem;
    position: static;
  }
}

.info {
  width: 55.8%;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include mw($tb) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    width: 100%;
  }

  &__head {
    margin-bottom: 3rem;

    @include mw($tb) {
      order: 1;
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: var(--basic-dark);
    word-break: break-all;

    @include mw($tb) {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 130%;
      color: var(--basic-dark);
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @include mw($tb) {
      gap: 1rem;
    }
  }

  &__item {
    display: flex;

    @include mw($tb) {
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }

  &__key {
    width: 29%;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: var(--key-winners);
    flex-shrink: 0;

    @include mw($tb) {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: var(--key-winners);
      width: 100%;
    }
  }

  &__value {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 140%;
      color: var(--basic-dark);
      // word-break: break-all;
      @include mw($tb) {
        font-weight: 400;
        font-size: 1rem;
        line-height: 140%;
        color: var(--basic-dark);
      }
    }
  }
}

.player {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;

  video {
    object-fit: cover;
  }
}

.light {
  width: 100%;
  height: 100%;
  background-color: var(--video-link);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--basic-dark);
  position: absolute;
  @include centered();
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.75rem 0 0.75rem 1.3rem;
    border-color: transparent transparent transparent var(--color-green);
    transform: translateX(0.25rem);
  }
}

.empty {
  padding: 3rem 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--basic-dark);

  @include mw($tb) {
    font-size: 1.5rem;
  }
}

.media {
  width: 43%;
  border-right: var(--line) solid var(--basic-dark);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    width: 100%;
    padding: 0;
    border-right: 0;
  }

  &__inner {
    width: 100%;
    height: 0;
    padding-top: 54%;
    position: sticky;
    top: 3rem;

    &--image {
      height: auto;
      padding: 0;

      @include mw($tb) {
        padding-top: 3rem;
      }
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--video-link);

    &--image {
      background-color: transparent;
      position: static;
    }
  }
}
