@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.faq {
  height: var(--heigh);
  border-right: var(--line) solid var(--basic-dark);
  box-sizing: border-box;
  width: var(--width);
  overflow: hidden;

  @include mw($tb) {
    border: 0;
    height: auto;
  }

  &__inner {
    @include mw($tb) {
      padding-top: 3rem;
    }
  }

  &__content {
    position: relative;

    @include mw($tb) {
      padding-top: 4rem;
      padding-bottom: 2rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      min-height: 30rem;
      overflow: hidden;
    }
  }

  &__figure {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include mw($tb) {
      background-image: url("@/images/faq/lines.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // &__canvas_2 {
  //   transform: rotate(180deg);
  // }
}

.title {
  font-size: 3.75rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  pointer-events: none;

  @include mw($tb) {
    font-size: 1.75rem;
  }
}
