@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;

  @include mw($tb) {
    width: 100%;
  }

  &__inner {
    flex-grow: 1;
    width: 100%;
    padding-top: 4rem;

    @include mw($tb) {
      padding-top: 0;
    }
  }
}

.head {
  display: flex;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  @include mw($tb) {
    padding: 1rem 0.5rem;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: var(--color-green);

    @include mw($tb) {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 130%;
    }
  }

  &__button {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: var(--color-green);
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--color-green-hover);
      svg {
        stroke: var(--color-green-hover);
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      stroke: var(--color-green);
      transition: 0.3s;
    }
  }
}

.box {
  padding: 3rem 1rem;

  @include mw($tb) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &--application {
    padding-left: 2rem;
    padding-right: 2rem;

    @include mw($tb) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    margin-bottom: 1rem;

    @include mw($tb) {
      font-size: 1.12rem;
    }
  }

  &__download {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    position: relative;
    transition: 0.3s;

    &:hover {
      color: var(--color-green);

      &::after {
        background-color: var(--color-green);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.06rem;
      background-color: var(--basic-dark);
      transition: 0.3s;
    }

    @include mw($tb) {
      font-size: 0.88rem;
    }
  }

  &__btn_reset {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: rgba(#131313, 0.48);
    background-color: transparent;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    svg {
      transition: 0.3s;
    }

    &:hover {
      svg {
        opacity: 0.5;
      }
    }
  }
}

.application {
  margin-bottom: 3rem;

  &--vote {
    margin-bottom: 0;
  }

  &--ticket {
    margin-bottom: 0;
  }

  &__empty {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    margin-bottom: 3rem;
  }

  &__btn {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #141414;
    background-color: var(--color-green);
    transition: 0.3s;
    cursor: pointer;
    padding: 1.5rem;
    margin-bottom: 3rem;
    width: 22rem;
    display: block;
    text-align: center;

    &--ticket {
      margin-bottom: 0;
    }

    &--vote {
      margin-bottom: 0;
    }

    @include mw($tb) {
      width: 100%;
      font-size: 1rem;
    }

    &:hover {
      background-color: var(--color-green-hover);
    }
  }
}

.refusal {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(#131313, 0.06);
  padding: 1rem;
  text-align: center;

  &__btn {
    background-color: transparent;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    color: #141414;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.06rem;
      background-color: var(--basic-dark);
      left: 0;
      bottom: 0;
      transition: 0.3s;
    }

    &:hover {
      color: var(--color-green);

      &::after {
        background-color: var(--color-green);
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  @include mw($tb) {
  }

  &__inner {
    padding: 1.5rem 2rem;

    @include mw($tb) {
      padding: 1rem 1rem;
    }
  }

  &__block {
    display: flex;

    &--link {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:not(:first-child) {
      margin-top: 1.5rem;

      @include mw($tb) {
        margin-top: 1rem;
      }
    }

    @include mw($tb) {
      flex-direction: column;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: rgba(#131313, 0.48);
    width: 8.3rem;
    flex-shrink: 0;

    @include mw($tb) {
      fz: 1rem;
    }
  }

  &__value {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    flex-grow: 1;

    @include mw($tb) {
      font-size: 1rem;
    }
  }
}

.status {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 120%;
  color: #141414;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;

  &--created {
    color: rgba(#131313, 0.48);
    background-color: rgba(#131313, 0.06);
  }
  &--paid {
    background-color: var(--color-green);
  }
  &--accepted {
    background-color: var(--color-green);
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  &--payment_error {
    background-color: #ee00ff;
    color: var(--basic-light);
    svg {
      width: torem(6.33);
      height: torem(6.33);
      transform: translateY(30%);
    }
  }
}

.name {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  color: #141414;
  margin-bottom: 1.5rem;

  @include mw($tb) {
    font-size: 1.12rem;
    margin-bottom: 1rem;
  }
}

.credits {
  &__box {
    display: flex;
    flex-direction: column;
  }
}

.category {
  &__box {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    svg {
      // width: 2.5rem;
      // height: auto;
    }
  }
}

.visible {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  color: #141414;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  align-self: flex-start;
  background-color: transparent;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  display: block;

  @include mw($tb) {
    font-size: 0.88rem;
    margin-left: 1.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.06rem;
    background-color: var(--basic-dark);
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }

  &:hover {
    color: var(--color-green);

    &:after {
      background-color: var(--color-green);
    }
  }
}

.edit {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#131313, 0.06);
  transition: 0.3s;
  cursor: pointer;

  &--left {
    margin-left: auto;
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: var(--color-green);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--basic-dark);
  }
}

.content {
  // margin-bottom: 2rem;
}

.list {
  border: var(--line) solid var(--basic-dark);
  padding-top: 3rem;
  position: relative;

  & + .list {
    margin-top: 2rem;

    @include mw($tb) {
      margin-top: 1rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #141414;
    padding: 0 2rem;
    margin-bottom: 3rem;
    display: flex;
    column-gap: 0.5rem;

    @include mw($tb) {
      flex-direction: column;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      padding: 0 1.5rem;
    }
  }
}

.header {
  background-color: var(--color-green);
  display: flex;
  align-items: center;

  padding: 0.5rem 0.5rem 0.5rem 2rem;

  @include mw($tb) {
    padding: 0 0 0 1.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;

    @include mw($tb) {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 130%;
      color: #141414;
    }
  }
}

.pay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.ticket {
  border: var(--line) solid var(--basic-dark);
  margin-right: 2rem;
  margin-bottom: 2rem;

  @include mw($tb) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    padding: 1rem 2rem;
    display: flex;
    column-gap: 0.5rem;
    border-bottom: var(--line) solid var(--basic-dark);

    @include mw($tb) {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 130%;
      color: #141414;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__content {
    padding: 2rem;

    @include mw($tb) {
      padding: 1.5rem;
    }
  }

  &__list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 140%;
      color: #141414;

      @include mw($tb) {
        font-size: 1rem;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: var(--text-tertiary);
  }

  &__value {
    flex-shrink: 0;
    margin-left: 1rem;
  }
}
