@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.container {
  position: relative;
  & + .container {
    margin-top: 2rem;

    @include mw($tb) {
      margin-top: 2.5rem;
    }
  }
  &--radio {
    & + .container--radio {
      margin-top: 0;
    }
  }
  &--checkbox {
    & + .container--checkbox {
      margin-top: 1rem;
    }
  }
  &--profile {
    // width: 69.9%;
    width: 100%;
    display: flex;
    align-items: center;

    & + .container {
      margin-top: 0.5rem;
    }
  }

  &--file-profile {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.label {
  display: flex;
  position: relative;

  @include mw($tb) {
    display: flex;
    flex-direction: column;
  }

  &--radio {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    border: 0;

    @include mw($tb) {
      flex-direction: row;
    }
  }

  &--file {
    &:before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("@/images/svg/upload.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include mw($tb) {
      flex-direction: row;
    }
  }
  &--file-profile {
    &:before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("@/images/svg/upload.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include mw($tb) {
      flex-direction: row;
    }
  }

  &--checkbox {
    .checkbox__icon {
      &:hover {
        border-color: var(--color-green);

        svg {
          stroke: var(--color-green);
        }
      }
    }
  }

  &--profile {
    width: 69.9%;
    flex-shrink: 0;

    @include mw($tb) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__text {
    padding-left: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.875rem;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #141414;
    border-right: var(--line) solid var(--basic-dark);
    width: 8rem;
    display: flex;
    // align-items: center;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    @include mw($tb) {
      left: 0;
      top: auto;
      height: auto;
      bottom: 100%;
      width: auto;
      border-right: 0;
      font-weight: 400;
      font-size: 0.88rem;
      line-height: 130%;
      color: #141414;
      padding: 0;
      margin-bottom: 0.25rem;
    }

    &--file {
      position: static;
      border: 0;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0.15rem;
      margin-left: 1rem;
      background-image: url("@/images/form/text.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 bottom;
    }
    &--file-profile {
      position: static;
      border: 0;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0.15rem;
      margin-left: 1rem;
      background-image: url("@/images/form/text.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 bottom;
      padding-top: 0;
    }

    &--error {
      border-color: var(--error);
    }

    &--profile {
      position: static;
      height: auto;
      border: 0;
      width: 7rem;
      font-weight: 400;
      font-size: 0.88rem;
      line-height: 120%;
      color: rgba(#131313, 0.4);

      @include mw($tb) {
        width: 5rem;
        padding-right: 0.5rem;
        // position: absolute;
        // height: 100%;
        // left: 0;
        // top: 0;
        // bottom: auto;
      }
    }
  }
}

.input {
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 140%;
  border: var(--line) solid var(--basic-dark);
  color: var(--basic-dark);
  padding: 0.875rem 1rem 0.875rem 9rem;
  width: 100%;

  @include mw($tb) {
    padding-left: 1rem;
    font-size: 1rem;
  }

  &::placeholder {
    color: rgba(#131313, 0.48);
  }

  &--radio {
    @include vh();
  }

  &--checkbox {
    @include vh();
  }

  &--password {
    padding-right: 4.5rem;
  }

  &--file {
    @include vh();
  }
  &--file-profile {
    @include vh();
  }

  &--profile {
    padding-left: 1rem;

    @include mw($tb) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    outline: 0.125rem solid var(--basic-dark);
    outline-offset: -0.125rem;
  }

  &:focus {
    outline-width: 0;
  }

  &--error {
    border-color: var(--error);
    color: var(--error);
  }

  &:disabled {
    background-color: var(--basic-light);
    border-color: transparent;

    &:hover {
      outline: 0;
    }
  }
}

.button {
  width: 3.5rem;
  aspect-ratio: 1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: var(--line) solid var(--basic-dark);
}

.error {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 120%;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;

  &::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0.56rem 0.68rem 0.56rem;
    border-color: transparent transparent var(--error) transparent;
    // transform: translateY(-50%);
    // position: absolute;
    // left: 0;
    // top: 0;
  }

  &--checkbox {
    position: static;
    display: inline-flex;
    transform: none;
  }

  &--profile {
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;
    transform: none;
    position: static;
    width: 30.1%;
    justify-content: flex-end;

    &::after {
      border-width: 0.34rem 0.56rem 0.34rem 0;
      border-color: transparent var(--error) transparent transparent;
    }
  }

  &--file-profile {
    margin-left: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;
    transform: none;
    position: static;
    width: 30.1%;
    justify-content: flex-end;

    &::after {
      border-width: 0.34rem 0.56rem 0.34rem 0;
      border-color: transparent var(--error) transparent transparent;
    }
  }

  &__text {
    background-color: var(--error);
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: var(--line) solid var(--basic-dark);
    flex-shrink: 0;

    svg {
      width: 0.56rem;
      height: 0.37rem;
      stroke: var(--basic-dark);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: #141414;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  &__link {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: #141414;
    position: relative;
    background-color: transparent;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.06rem;
      background-color: var(--basic-dark);
      left: 0;
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.upload_image {
  &__box {
    position: relative;
  }

  &__label {
    width: 100%;
    display: block;
    aspect-ratio: 5 / 1;
    position: relative;
    border: 1px dashed #141414;

    @include mw($tb) {
      aspect-ratio: 1.7 / 1;
    }

    &:hover {
      outline: 0.125rem solid var(--basic-dark);
      outline-offset: -0.125rem;
    }
  }

  &__input {
    @include vh();
  }

  &__view {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_text {
      font-weight: 400;
      font-size: 0.88rem;
      line-height: 120%;
      text-align: center;
      color: rgba(#131313, 0.48);
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
