@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.list {
  margin: 0 2rem;
  border-left: var(--line) solid var(--basic-dark);
  border-right: var(--line) solid var(--basic-dark);
  padding-bottom: 3rem;
  min-height: 100%;

  &__link {
    width: 100%;
    display: block;
    &:hover {
      .row {
        background-color: rgba(#131313, 0.06);
      }
    }
  }
}

.row {
  display: flex;
  border-bottom: var(--line) solid var(--basic-dark);
  transition: 0.3s;

  &--head {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--basic-light);
  }

  &__item {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    min-height: 3.3rem;

    &:not(:last-child) {
      border-right: var(--line) solid var(--basic-dark);
    }

    &--element {
      padding: 0;
    }

    &--head {
      background-color: rgba(19, 19, 19, 0.06);
    }

    &_number {
      width: 7.3%;
    }

    &_title {
      width: 33.8%;
    }

    &_category {
      width: 16.8%;
    }

    &_nomination {
      width: 25.3%;
    }

    &_status {
      flex-grow: 1;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.status {
  flex-grow: 1;
  height: calc(100% - 0.6rem);
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13ff00;

  @include mw($tb) {
    margin: 0;
    height: auto;
    padding: 0.3rem;
    border-left: var(--line) solid var(--basic-dark);
    border-right: var(--line) solid var(--basic-dark);
    flex-direction: row-reverse;
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;

    @include mw($tb) {
      font-weight: 400;
      font-size: 0.88rem;
      line-height: 120%;
      color: #141414;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;

    @include mw($tb) {
      width: 1rem;
      height: 1rem;
      margin-left: 0;
      margin-right: 0.5rem;
    }

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

.select {
  width: 100%;
  height: 100%;
  outline: 0;

  .select {
    &__control {
      height: 100%;
      border: 0;
      border-radius: 0;
      outline: 0;
      background-color: transparent;
      box-shadow: none;

      &:hover {
        border-color: transparent;
      }
    }

    &__valueContainer {
      padding: 0 1rem;
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 140%;
      color: #141414;
    }

    &__placeholder {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 140%;
      color: #141414;
    }

    &__indicatorsContainer {
      background-color: rgba(19, 19, 19, 0.06);
      width: 3.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__indicatorSeparator {
      display: none;
    }

    &__menuList {
      &::-webkit-scrollbar {
        width: 0.3rem;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--white);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(19, 19, 19, 0.06);
        border-radius: 0.5rem;
      }
    }
  }
}

.list_wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__title {
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__panel {
    display: flex;
    flex-direction: column;

    &--selected {
      flex-grow: 1;
    }
  }

  &__panel_inner {
    flex-grow: 1;
    position: relative;
  }
}
