*,
*::before,
*::after {
  box-sizing: inherit;
  // min-height: 0;
  // min-width: 0;
}

html {
  box-sizing: border-box;

  // font-size: 16px;
  font-size: 0.83vw;

  @include mw($ldt) {
    font-size: 1.12vw;
  }

  @include mw($dt) {
    font-size: 1.2vw;
  }

  @include mw($tb) {
    font-size: 2.66vw;
  }

  @include mw($ph) {
    font-size: 3.73vw;
  }
}

.swiper {
  min-width: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  scroll-behavior: smooth;
  @include font("NeueMachina");
  font-weight: 400;
  color: $text-dark;
  background-color: $bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #a70e13;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5ec5a;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;

  @include mw($tb) {
    max-height: none;
  }
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  // max-width: 100%;
  // max-height: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input,
button,
select,
a,
textarea,
label,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset {
  border: none;
  padding: 0;
}

button,
input,
a {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
  // max-width: $width-dt + $gap * 2;
  width: 80%;

  @include mw($ldt) {
    width: 95%;
  }

  @include mw($dt) {
    width: auto;
  }
}

.swiper {
  height: 100%;
}

img {
  user-select: none;
}

.body--menu {
  overflow: hidden;
}

.szh-accordion__item-content {
  transition: height 0.5s cubic-bezier(0, 0, 0, 1);
}

.szh-accordion__item {
  border: var(--line) solid var(--basic-dark);

  @include mw($tb) {
    border-left: 0;
    border-right: 0;
  }
}

.szh-accordion__item-btn {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background-color: transparent;
  width: 100%;
  gap: 1rem;
}

.szh-accordion__item svg {
  flex-shrink: 0;
  transition: 0.5s;
}

.szh-accordion__item--expanded {
  // border-color: #6d712e;
}

.szh-accordion__item--expanded svg {
  transform: rotate(180deg);
}

.hamburger-react {
  background-color: rgba(#141414, 0.04);
  div {
    border-radius: 5px;
  }
}

* {
  // outline: 1px solid #ff6347;
}
