*,
*::before,
*::after {
  box-sizing: inherit;
  // min-height: 0;
  // min-width: 0;
}

html {
  box-sizing: border-box;

  // font-size: 16px;
  font-size: 0.83vw;

  @media screen and (max-width: 1920px) {
    font-size: 1vw;
  }

  @include mw($ldt) {
    font-size: 1.12vw;
  }

  @include mw($dt) {
    font-size: 1.2vw;
  }

  @include mw($tb) {
    font-size: 2.66vw;
  }

  @include mw($ph) {
    font-size: 5vw;
  }
}

.swiper {
  min-width: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    padding-top: 6rem;
  }

  @include mw($ph) {
    padding-top: 6rem;
  }
}

body {
  scroll-behavior: smooth;
  @include font("NeueMachina");
  font-weight: 400;
  color: $text-dark;
  background-color: var(--basic-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // border-left: var(--line) solid var(--basic-dark);
  // border-right: var(--line) solid var(--basic-dark);
  overscroll-behavior: none;
  // height: 100vh;
}

.scroll {
  &::-webkit-scrollbar {
    width: 1.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--basic-dark);
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;

  @include mw($tb) {
    max-height: none;
  }
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  // max-width: 100%;
  // max-height: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input,
button,
select,
a,
textarea,
label,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset {
  border: none;
  padding: 0;
}

button,
input,
a {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
  // max-width: $width-dt + $gap * 2;
  width: 80%;

  @include mw($ldt) {
    width: 95%;
  }

  @include mw($dt) {
    width: auto;
  }
}

.swiper {
  height: 100%;
}

img {
  user-select: none;
}

.body--menu {
  overflow: hidden;
}

.szh-accordion__item-content {
  transition: height 0.5s cubic-bezier(0, 0, 0, 1);
}

.szh-accordion__item {
  border: var(--line) solid var(--basic-dark);

  @include mw($tb) {
    border-left: 0;
    border-right: 0;
  }
}

.szh-accordion__item-btn {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background-color: transparent;
  width: 100%;
  gap: 1rem;

  @include mw($tb) {
    padding-left: 1rem;
    gap: 0;
  }
}

.jury_main {
  .szh-accordion__item-btn {
    @include mw($tb) {
      padding-left: 0;
    }
  }

  .szh-accordion__item:not(:last-child) {
    border-bottom: 0;
  }
}

.program {
  .szh-accordion__item-btn {
    padding-left: 0;
  }

  .szh-accordion__item {
    border-top: 0;
  }

  @include mw($tb) {
    .szh-accordion__item--expanded svg {
      transform: rotate(90deg);
    }
  }
}

.szh-accordion__item svg {
  flex-shrink: 0;
  transition: 0.5s;
}

.szh-accordion__item--expanded {
  // border-color: #6d712e;
}

.szh-accordion__item--expanded svg {
  transform: rotate(180deg);
}

.hamburger-react {
  background-color: rgba(#141414, 0.04);
  div {
    border-radius: 5px;
    height: 1px !important;
  }

  &[aria-expanded="true"] {
    & div:nth-child(1) {
      transform: translateY(10px) !important;

      div {
        transform: rotate(45deg) !important;
      }

      //  rotate(45deg) !important;
    }

    & div:nth-child(3) {
      transform: translateY(-11px) !important;

      div {
        transform: rotate(-45deg) !important;
      }

      //  rotate(45deg) !important;
    }
  }
}

.dark {
  .hamburger-react {
    background-color: rgba(#fff, 0.5);
  }
}

.contacts {
  .logo {
    @include mw($tb) {
      height: 80%;
      width: 80%;
      margin-bottom: 5rem;
    }
  }
}

.home {
  .swiper-wrapper {
    transition-duration: 1s !important;
    /*Ease-out for scrolling, big difference when changed*/
    transition-timing-function: ease-out;
  }
}

#modal-root {
  z-index: 100;
}

.scrollbar {
  .scroll-content {
    padding-right: 2rem;
  }
}

#imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: center;
}
#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jury_spec {
  .rfm-initial-child-container {
    align-items: stretch;
  }

  .rfm-marquee {
    align-items: stretch;
  }

  .rfm-child {
    height: auto;
  }
}

.carboncore {
  transform: scale(0.7);
}

* {
  // outline: 1px solid #ff6347;
}
