@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.nominations {
  box-sizing: border-box;
  height: var(--heigh);
  display: flex;
  flex-direction: column;
  border-right: var(--line) solid var(--basic-dark);
  width: var(--width);

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }

  &__inner {
    display: flex;
    flex-grow: 1;

    @media screen and (max-width: 1920px) {
      height: calc(100vh - 8.2rem);
    }

    @include mw($tb) {
      flex-direction: column;
      height: auto;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
      margin: 0 0.56rem;
    }
  }

  &__title {
    font-size: 5.63rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 3rem;
    color: var(--basic-dark);

    @include mw($tb) {
      font-size: 2.38rem;
    }
  }
}

.content {
  width: 51%;
  padding: 2rem;
  border-right: var(--line) solid var(--basic-dark);
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    border: 0;
    width: auto;
    padding-top: 5rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__head {
    @include mw($tb) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }

  &__link {
    color: #141414;
    margin-left: 0.5rem;
    position: relative;
    transition: 0.3s;

    &:hover {
      color: var(--color-green);

      &::after {
        background-color: var(--color-green);
      }
    }

    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.07rem;
        background-color: #141414;
        transition: 0.3s;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.07rem;
      background-color: #141414;
      transition: 0.3s;
    }
  }
}

.accordion {
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-right: 3rem;
  max-height: 100%;

  @include mw($tb) {
    row-gap: 0.5rem;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__block {
    & + .accordion__block {
      margin-top: 1.5rem;
    }

    &--support:not(:first-child) {
      // margin-top: 1.5rem;
    }
  }

  &_wrap {
    width: 49%;
    padding-left: 2rem;
    position: relative;

    @include mw($tb) {
      width: 100%;
      // height: 20rem;
      padding-left: 0;
    }
  }

  &__label {
    font-size: 1.13rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    font-weight: 400;
    flex-grow: 1;
    color: var(--basic-dark);
    text-align: left;
    padding: 1rem 0;

    @include mw($tb) {
      padding-right: 0.5rem;
    }
  }

  &__icon {
    width: 4rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-dark);
    flex-shrink: 0;
    align-self: stretch;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      svg {
        stroke: var(--color-green);
      }
    }

    svg {
      stroke: var(--basic-light);
      width: 2rem;
      height: 2rem;
    }
  }

  &__answer {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    font-size: 1.13rem;
    padding: 2rem;
    border-top: var(--line) solid var(--basic-dark);
  }

  &__special {
    margin-left: auto;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: var(--color-green);
    padding: 0.5rem 1rem;
    background-color: var(--basic-dark);
  }
}

.button_add {
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  color: var(--basic-dark);
  padding: 1.4rem 1rem 1.2rem;
  background-color: var(--color-green);
  width: 100%;
  //
}

.support {
  display: inline-flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.04);
  padding: 0.5rem;
  // margin-top: 1.5rem;

  &__text {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: #141414;
    margin-right: 0.5rem;
  }

  &__logo {
    max-height: 0.94rem;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  transform: scale(1.3);

  @include mw($tb) {
    transform: scale(1.4);
  }
}

.torus {
  flex-grow: 1;
  position: relative;

  @include mw($tb) {
    width: 100%;
    padding-top: 100%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
