@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__slider {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.scrollbar {
  width: 100%;
  border-top: var(--line) solid var(--basic-dark);
  border-bottom: var(--line) solid var(--basic-dark);

  &__drag {
    height: 1.5rem;
    background-color: var(--basic-dark);
    transition: 0.5s !important;
  }
}

.slide {
  width: auto;
  height: auto;
  // min-width: 100vw;
}
