@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.pass {
  flex-grow: 1;
  position: relative;

  &__inner {
    padding-top: 4rem;

    @include mw($tb) {
      padding-top: 0;
    }
  }
}

.box {
  &__inner {
    padding: 3rem 2rem;

    @include mw($tb) {
      padding: 2rem 0.5rem;
    }
  }

  &__add {
    margin-top: 1.5rem;
  }
}

.radio {
  display: flex;
  column-gap: 3rem;

  @include mw($tb) {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &--pitch {
    margin-bottom: 3rem;
  }
}

.sub {
  position: relative;
  border: var(--line) solid var(--basic-dark);
  padding: 4.5rem 2rem 3rem;

  & + .sub {
    margin-top: 1.5rem;
  }

  @include mw($tb) {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    @include mw($tb) {
    }
  }

  textarea {
    resize: none;
    width: 100%;
    aspect-ratio: 4.25 / 1;

    @include mw($tb) {
      aspect-ratio: 2 / 1;
    }
  }
}

.discount {
  padding: 0.68rem 2rem;
  background-color: var(--color-green);
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 140%;
  color: #141414;
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: center;
  // position: absolute;
  // left: 0;
  // top: 0;

  @include mw($tb) {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
  }

  &__value {
    font-size: 0.88rem;
    line-height: 120%;
    text-decoration: line-through;
    transform: translateY(0.1rem);
  }
}

.delete {
  // position: absolute;
  background-color: rgba(#131313, 0.06);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // top: 0;
  // right: 0;
  transition: 0.3s;
  margin-left: auto;

  &:hover {
    background-color: var(--color-green);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.upload_image {
  margin-top: 1.5rem;

  &__label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: #141414;

    @include mw($tb) {
      font-weight: 400;
      font-size: 0.88rem;
      line-height: 130%;
      color: #141414;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: rgba(#131313, 0.48);
    margin-bottom: 0.5rem;
  }
}

.big {
  &__text {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    color: rgba(#131313, 0.48);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    @include mw($tb) {
      margin-bottom: 2rem;
    }

    & + .big__text {
      margin-top: 1.25rem;

      @include mw($tb) {
        margin-top: 0;
      }
    }
  }
}

.buy {
  &__head {
    margin-bottom: 1.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }

  &__counter {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#131313, 0.06);
    transition: 0.3s;

    &:hover {
      background-color: var(--color-green);
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__input {
    width: 100%;
    border: 0;
    padding: 1rem;
    text-align: center;
  }
}

.counter {
  border: var(--line) solid var(--basic-dark);
  &__head {
    display: flex;
    border-bottom: var(--line) solid var(--basic-dark);
  }

  &__title {
    width: calc(100% / 3);
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 120%;
    text-align: center;
    color: #141414;
    text-align: center;
    padding: 0.5rem;

    @include mw($tb) {
      width: 100%;
    }

    &:not(:last-child) {
      border-right: var(--line) solid var(--basic-dark);

      @include mw($tb) {
        border-right: 0;
        border-bottom: var(--line) solid var(--basic-dark);
      }
    }
  }

  &__body {
    display: flex;

    @include mw($tb) {
      flex-direction: column;
    }

    &_item {
      width: calc(100% / 3);
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 130%;
      text-align: center;
      color: #141414;

      @include mw($tb) {
        width: 100%;
      }

      &:not(:last-child) {
        border-right: var(--line) solid var(--basic-dark);
        @include mw($tb) {
          border-right: 0;
          border-bottom: var(--line) solid var(--basic-dark);
        }
      }
    }

    &_num {
      padding: 1rem;
      display: flex;
      column-gap: 0.5rem;
      justify-content: center;
      align-items: center;
    }

    &_val {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_counter {
      display: flex;
    }

    &_value {
      flex-grow: 1;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_input {
      padding: 0;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;

  @include mw($tb) {
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 40%;

    @include mw($tb) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    margin-bottom: 0.5rem;

    @include mw($tb) {
      flex-shrink: 0;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #141414;

    @include mw($tb) {
      font-size: 1.25rem;
    }
  }
  &__btn {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    color: #141414;
    background-color: var(--color-green);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-green-hover);
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
