@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.pitch {
  height: var(--heigh);
  border-right: var(--line) solid var(--basic-dark);
  display: flex;
  flex-direction: column;
  width: var(--width);

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }

  &__inner {
    display: flex;
    flex-grow: 1;

    @include mw($tb) {
      flex-direction: column;
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
      padding-bottom: 5rem;
    }
  }
  &__item {
    width: 50%;
    padding: 4rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;

    & + .pitch__item {
      border-left: var(--line) solid var(--basic-dark);

      @include mw($tb) {
        border-left: 0;
      }
    }

    @include mw($tb) {
      padding-top: 5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0;
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    margin-bottom: 1.5rem;

    @include mw($tb) {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #141414;
    }
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mw($tb) {
      flex-direction: column-reverse;
      row-gap: 0.5rem;
    }
  }

  &__button {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: right;
    color: #141414;
    transition: 0.3s;
    background-color: var(--color-green);
    cursor: pointer;
    padding: 1.5rem 3rem;

    &:hover {
      background-color: var(--color-green-hover);
    }

    @include mw($tb) {
      width: 100%;
      text-align: center;
    }
  }

  &__deadline {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;

    @include mw($tb) {
      display: flex;
      justify-content: center;

      span {
        text-align: center;
      }
    }
  }

  &__info {
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;
    margin: auto 0;
    transform: translateY(-2rem);

    @include mw($tb) {
      transform: none;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: #141414;
    }
  }
}

.head {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 4rem;

  @include mw($tb) {
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &--nuum {
    svg {
      // width: 15.75rem;
      width: 7.25rem;
      // height: 3rem;
      height: 3.875rem;

      @include mw($tb) {
        // width: 10.75rem;
        // height: 1.75rem;

        width: 3.125rem;
        height: 1.625rem;
      }
    }
  }

  &--mega {
    svg {
      width: 9.88rem;
      height: 3.69rem;

      @include mw($tb) {
        width: 4.125rem;
        height: 1.75rem;
      }
    }
  }
}

.title {
  font-weight: 400;
  font-size: 5.25rem;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #141414;

  @include mw($tb) {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 140%;
  color: #141414;

  @include mw($tb) {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: #141414;
    margin-bottom: 2rem;
  }

  &__item {
    padding-left: 0.5rem;
    display: flex;
    column-gap: 1rem;

    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--color-green);
      border-radius: 50%;
      margin-top: 0.5rem;
      flex-shrink: 0;
    }

    &_inner {
      display: flex;
      column-gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  &__link {
    color: #141414;
    position: relative;
    transition: 0.3s;

    &:hover {
      color: var(--color-green);

      &::after {
        background-color: var(--color-green);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.06rem;
      left: 0;
      bottom: 0;
      background-color: #141414;
      transition: 0.3s;
    }
  }
}
