@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.program {
  display: flex;
  flex-direction: column;
  border-right: var(--line) solid var(--basic-dark);
  height: var(--heigh);
  box-sizing: border-box;

  &__inner {
    flex-grow: 1;
    display: flex;
    height: 100%;
    // height: calc(100vh - 10.8rem);

    @include mw($tb) {
      height: auto;
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
      flex-direction: column;
    }
  }

  &__main {
    padding-left: 2rem;
    padding-top: 4rem;
    padding-right: 2rem;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mw($tb) {
      width: 100%;
      padding-top: 5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      overflow: hidden;
    }

    &_hidden {
      display: none;
    }

    svg {
      align-self: center;
      width: 89%;

      @include mw($tb) {
        width: 110%;
      }
    }
  }
}

.title {
  font-weight: 400;
  font-size: 5.62rem;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #141414;
  display: flex;
  flex-direction: column;

  @include mw($dt) {
    font-size: 4rem;
  }

  @include mw($tb) {
    font-size: 2.38rem;
    margin-bottom: 0rem;
  }
}

.content {
  display: flex;
  width: 56%;
  margin-left: auto;
  justify-content: flex-end;

  @include mw($tb) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    border-top: var(--line) solid var(--basic-dark);
  }
}

.item {
  flex: 0 0 0px;
  display: flex;
  border-left: var(--line) solid var(--basic-dark);

  @include mw($tb) {
    border: 0;
  }
}

.button {
  background-color: var(--basic-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 4.5rem;
  transform: rotate(180deg);
  position: relative;
  flex-shrink: 0;

  @include mw($tb) {
    transform: none;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    width: 100%;
  }

  &__date {
    writing-mode: vertical-rl;
    pointer-events: none;
    text-orientation: mixed;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
    color: #141414;

    @include mw($tb) {
      writing-mode: inherit;
      font-size: 1.12rem;
    }
  }

  &__title {
    writing-mode: vertical-rl;
    pointer-events: none;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    text-align: left;

    @include mw($tb) {
      writing-mode: inherit;
      font-size: 1.12rem;
    }
  }

  &__icon {
    position: absolute;
    bottom: 1.5rem;
    @include centered("x");
    cursor: pointer;
    transition: 0.3s;

    @include mw($tb) {
      display: none;
    }

    &:hover {
      opacity: 0.6;
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

.info {
  // width: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  display: none;

  @include mw($tb) {
    display: flex;
    padding-top: 0;
  }

  &_active {
    // width: auto;
    // flex-grow: 1;
    // display: flex;
  }

  &__inner {
    flex-grow: 1;
    padding-left: 3rem;
    padding-right: 1.25rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: flex;
    flex-direction: column;

    @include mw($tb) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__head {
    margin-bottom: 3rem;

    @include mw($tb) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    margin-bottom: 1rem;

    @include mw($tb) {
      display: none;
    }
  }

  &__time {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    margin-bottom: 1rem;

    @include mw($tb) {
      font-size: 1rem;
    }
  }
}

.speakers {
  margin-bottom: 3rem;

  @include mw($tb) {
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    margin-bottom: 1rem;

    @include mw($tb) {
      font-size: 1rem;
    }
  }

  &__pictures {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__figure {
    width: 4rem;
    height: 4rem;

    &:not(:first-child) {
      margin-left: -1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__names {
    display: flex;
    gap: 0.3rem;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }
}

.description {
  margin-bottom: 1rem;

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }
}

.registration {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #141414;
  padding: 1.5rem 3rem;
  min-width: 13.38rem;
  display: block;
  background-color: var(--color-green);
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  align-self: flex-start;
  margin-top: auto;

  &:hover {
    opacity: 0.6;
  }
}
