.service {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: var(--heigh);

  &__inner {
    flex-grow: 1;
    display: flex;
    height: 100%;
  }

  &__canvas {
    width: 50%;
    border-right: var(--line) solid var(--basic-dark);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 4.5rem;
  }

  &__figure {
    flex-grow: 1;
  }
}
