@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(#141414, 0.5);
  overflow: auto;
  padding: 2rem 0.56rem;

  @include mw($tb) {
  }

  &__inner {
    min-width: 36rem;
    background-color: var(--basic-light);
    border: var(--line) solid var(--basic-dark);
    margin-top: auto;
    margin-bottom: auto;

    @include mw($tb) {
      min-width: auto;
      width: 100%;
    }
  }

  &__head {
    display: flex;
    width: 100%;
    border-bottom: var(--line) solid var(--basic-dark);
  }

  &__title {
    flex-grow: 1;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
  }

  &__close {
    width: 3rem;
    height: 3rem;
    background-color: rgba(20, 20, 20, 0.04);
    transition: 0.3s;

    &:hover {
      background-color: var(--color-green);
    }

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

.form {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.button_service {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 120%;
  color: #141414;
  position: relative;
  background-color: transparent;

  &--right {
    align-self: flex-end;
  }

  &--top {
    margin-top: 1rem;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.125rem;
    background-color: var(--basic-dark);
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
}

.button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: 0.3s;

  &--green {
    color: var(--basic-dark);
    background-color: var(--color-green);

    &:hover {
      background-color: var(--color-green-hover);
    }
  }

  &--black {
    background-color: var(--basic-dark);
    color: var(--color-green);

    &:hover {
      color: var(--basic-light);
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.auth {
  &__submit {
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.acc {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 120%;
  color: #141414;
  display: flex;
  column-gap: 0.5rem;
  align-self: center;
}

.speaker {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  &__figure {
    aspect-ratio: 2 / 1;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #141414;
  }

  &__job {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    margin-bottom: 2rem;
  }

  &__description {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }

  &__inner {
    max-width: 24rem;
    min-width: auto;
  }
  &__head {
    border: 0;
  }

  &__close {
    background-color: transparent;

    svg {
      fill: transparent;
    }
  }
}

.success,
.modal_error {
  padding: 5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
  }

  &__button {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: right;
    color: #141414;
    background-color: var(--color-green);
    transition: 0.3s;
    padding: 1.5rem 3rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-green-hover);
    }
  }
}
