.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__slider {
    width: 100%;
  }
}

.scrollbar {
  width: 100%;
  border-top: var(--line) solid var(--basic-dark);
  border-bottom: var(--line) solid var(--basic-dark);

  &__drag {
    height: 1.5rem;
    background-color: var(--basic-dark);
  }
}
