@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.submission {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__inner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 5.75rem;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }
}

.title {
  font-size: 5.62rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: var(--basic-dark);

  @include mw($tb) {
    font-size: 2.38rem;
  }
}
