@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.submission {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: var(--line) solid var(--basic-dark);
  height: var(--heigh);
  width: var(--width);

  @include mw($tb) {
    height: auto;
    border: 0;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 3.75rem;
    position: relative;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
      padding-left: 0.5rem;
      min-height: 30rem;
      align-items: flex-end;
    }
  }

  &__figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__canvas {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 4.62rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  color: var(--basic-dark);
  margin-bottom: 5rem;

  &__inner {
    display: flex;

    svg {
      align-self: flex-end;
      transform: translateY(32%);
      width: 12rem;
      height: 6rem;

      @include mw($tb) {
        width: 6.8rem;
        height: 3.5rem;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    &__by {
      align-self: flex-end;
    }
  }

  @include mw($tb) {
    font-size: 2.25rem;
  }
}
