@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.submission {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: var(--line) solid var(--basic-dark);
  height: var(--heigh);

  @include mw($tb) {
    height: auto;
    border: 0;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 5.75rem;
    position: relative;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }
}

.title {
  font-size: 5.62rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: var(--basic-dark);

  @include mw($tb) {
    font-size: 2.38rem;
  }
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
