@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.header {
  @include mw($tb) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    transition: 0.3s;
    background-color: var(--basic-light);

    &--down {
      transform: translateY(-100%);
    }

    &--up {
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 16% 59.5% 24.5%;
    grid-template-rows: 1rem 1fr 1fr;
    border-bottom: var(--line) solid var(--basic-dark);

    @include mw($tb) {
      grid-template-columns: 0.56rem auto 0.56rem;
      grid-template-rows: 1rem auto;
    }
  }

  &__empty {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-bottom: var(--line) solid var(--basic-dark);
  }

  &__empty_big {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-top: var(--line) solid var(--basic-dark);
    border-left: var(--line) solid var(--basic-dark);
    padding: 0 0.75rem;
    display: flex;

    @include mw($tb) {
      display: none;
    }
  }
}

.logo {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    svg {
      width: 8.1rem;
      height: 5.6rem;
    }
  }

  @include mw($tb) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: var(--line) solid var(--basic-dark);
    border-right: var(--line) solid var(--basic-dark);
    aspect-ratio: auto;
    justify-content: space-between;
    padding: 0.5rem;
  }
}

.nav {
  display: flex;
  border-left: var(--line) solid var(--basic-dark);
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @include mw($tb) {
    position: fixed;
    width: 100%;
    height: 100%;
    border-left: 0;
    top: 7.9rem;
    right: 100%;
    background-color: var(--basic-light);
    z-index: 10;
    flex-direction: column;
  }

  &__bar {
    flex-grow: 1;
    display: flex;
    @include mw($tb) {
      display: block;
      overflow: auto;
      padding-bottom: 10rem;
    }
  }

  &__inner {
    flex-grow: 1;
    display: flex;

    @include mw($tb) {
      flex-direction: column;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
      padding-top: 0.5rem;
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      flex-grow: 0;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @include mw($tb) {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      flex-grow: 0;
      row-gap: 0.4rem;
      grid-column: 2 / 3;
    }
  }
}

.comeIn {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
  font-size: 1rem;
  color: var(--basic-dark);
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  padding: 1rem;

  @include mw($tb) {
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: transparent;
    transition: 0.3s;
  }

  &:hover {
  }

  svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  &_wrap {
    // border-left: var(--line) solid var(--basic-dark);
    // padding-left: 1rem;
    // padding-right: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;

    @include mw($tb) {
      border-left: 0;
      padding-left: 0;
      padding-right: 0;
      align-items: center;
      // grid-column: 2 / 3;

      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }
}

.event {
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
  color: var(--basic-dark);
  text-transform: uppercase;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  transition: 0.3s;
  border-left: var(--line) solid var(--basic-dark);
  transition: 0.3s;
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-green-hover);
  }

  @include mw($tb) {
    border-left: 0;
    padding-top: 2.2rem;
    padding-bottom: 1.8rem;
  }
}

.job {
  background-color: var(--basic-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-green);
  text-transform: uppercase;
  width: 50%;
  transition: 0.3s;
  padding: 0.5rem;

  &__auth {
    width: 43%;
  }

  &:hover {
    color: var(--basic-light);
  }

  @include mw($tb) {
    border-left: 0;
    padding-top: 2.2rem;
    padding-bottom: 1.8rem;
  }
}

.link {
  font-size: 1rem;
  color: var(--basic-dark);
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;

  span {
    pointer-events: none;
  }

  svg {
    margin-left: 0.25rem;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: transparent;
    transition: 0.3s;
  }

  &:hover {
    &:after {
      background-color: var(--color-green);
    }
  }

  &--active {
    &::after {
      background-color: var(--color-green);
    }
  }

  @include mw($tb) {
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }

  &--submenu {
  }

  &_wrap {
    padding: 0 0.75rem;
    display: flex;
    flex-direction: column;

    @include mw($dt) {
      padding: 0 0.5rem;
    }

    @include mw($tb) {
      padding-left: 0;
      padding-right: 0;
      align-items: center;
    }
  }
}

.burger {
  display: none;

  @include mw($tb) {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.link_wrap_submenu {
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.submit {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  border-left: var(--line) solid var(--basic-dark);
}

.anime {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  aspect-ratio: 2 / 1;
  position: relative;

  &__item {
    position: absolute;
    background-color: var(--basic-light);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 100%;
      width: 40%;
    }
  }
}

.profile {
  width: 43%;
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  &__icon {
    background-image: url("@/images/header/profile.png");
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    color: #141414;
  }
}

.exit {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-left: var(--line) solid var(--basic-dark);

  svg {
    width: 1rem;
    height: 1rem;
  }
}
