@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.partners {
  height: var(--heigh);
  width: var(--width);
  border-right: var(--line) solid var(--basic-dark);

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }

  &__inner {
    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }
}

.title {
  padding-top: 3rem;
  padding-left: 2rem;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 3rem;

  @include mw($tb) {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }
}

.item {
  padding: 2rem;

  @include mw($tb) {
    padding: 1rem 0.5rem;
  }

  &:not(:last-child) {
    border-bottom: var(--line) solid var(--basic-dark);
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #141414;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;

    @include mw($tb) {
      row-gap: 1rem;
      column-gap: 0;
    }
  }
  &__list_item {
    @include mw($tb) {
      width: calc(100% / 3);
    }
  }
}
