@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.partners {
  height: var(--heigh);
  min-width: 100vw;
  border-right: var(--line) solid var(--basic-dark);
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }

  &__inner {
    padding-top: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }

  &__content {
    margin-top: 2rem;
  }
}

.title {
  padding-left: 2rem;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: auto;
  margin-top: auto;

  @include mw($tb) {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }
}

.item {
  padding: 1.6rem 2rem;
  border-bottom: var(--line) solid var(--basic-dark);

  &:first-child {
    border-top: var(--line) solid var(--basic-dark);
  }

  @include mw($tb) {
    padding: 1rem 0.5rem;
  }

  &:last-child {
    border-bottom: 0;

    @include mw($tb) {
      border-bottom: var(--line) solid var(--basic-dark);
    }
  }

  &--grape {
    border-bottom: 0;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #141414;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    gap: 4rem;

    @include mw($tb) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__list_item {
    @include mw($tb) {
      width: 100%;
      // width: calc(100% / 3);
    }
  }

  &__list_subtitle {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    color: #141414;
    margin-bottom: 0.5rem;
  }

  &__list_link {
    width: 6.5rem;
    height: 1.95rem;
    background-color: rgba(#131313, 0.06);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mw($tb) {
      height: 3rem;
      width: 100%;
      padding: 0.5rem;
    }

    &:hover {
      svg {
        color: var(--color-green);
        fill: var(--color-green);
      }
    }

    svg {
      width: 100%;
      max-height: 100%;
      color: var(--basic-dark);
      fill: var(--basic-dark);

      transition: 0.3s;
    }
  }

  &__list_logo {
    width: 100%;
    max-height: 100%;
    // max-height: 4rem;
  }
}
