@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.track {
  width: 1.5rem !important;
  position: absolute;
  height: calc(100% - 3rem);
  right: 0;
  top: 1.5rem;
  border-right: var(--line) solid var(--basic-dark);
  border-left: var(--line) solid var(--basic-dark);
  display: flex;
  flex-direction: column;
  background-color: var(--basic-light);

  &--hidden {
    display: none;
  }
}

.thumb {
  background-color: var(--basic-dark);
  width: 1.5rem !important;

  &--hidden {
    display: none;
  }
}

.button {
  position: absolute;
  width: 1.5rem;
  height: 1.5em;
  top: 0;
  right: 0;
  cursor: pointer;
  border-right: var(--line) solid var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  border-right: var(--line) solid var(--basic-dark);
  border-left: var(--line) solid var(--basic-dark);

  &--hidden {
    display: none;
  }

  @include mw($tb) {
    display: none;
  }

  &--down {
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
  }

  svg {
    width: inherit;
    height: inherit;
    stroke: var(--basic-dark);
    width: 0.5rem;
    height: 0.3rem;
  }
}
