@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.festival {
  height: var(--heigh);
  border-right: var(--line) solid var(--basic-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: var(--width);

  @include mw($tb) {
    border: 0;
    height: auto;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @include mw($tb) {
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }

  &__content {
    display: flex;
    column-gap: 0.8rem;
  }

  &__soc {
    display: flex;

    a {
      border: var(--line) solid var(--color-green);

      &:last-child {
        border-left: 0;
      }
    }

    &--grape {
      a {
        border-color: var(--basic-dark);
      }
    }
  }
}

.title {
  font-weight: 400;
  font-size: 5.62rem;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-top: auto;
  margin-bottom: auto;

  @include mw($tb) {
    font-weight: 400;
    font-size: 2.38rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}

.content {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;

  &__info {
    display: flex;
    border-top: var(--line) solid var(--basic-dark);
    border-bottom: var(--line) solid var(--basic-dark);

    @include mw($tb) {
      flex-direction: column;
      border-top: 0;
    }
  }

  &__inner {
    width: 50%;
    padding: 2rem;

    @include mw($tb) {
      width: 100%;
      padding: 1rem 0.5rem;
      border-bottom: var(--line) solid var(--basic-dark);
      border-top: var(--line) solid var(--basic-dark);
    }

    &:first-child {
      border-right: var(--line) solid var(--basic-dark);

      @include mw($tb) {
        border-right: 0;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #141414;
    max-width: 34.5rem;
  }
}

.footer {
  display: flex;
  flex-grow: 1;

  @include mw($tb) {
    display: none;
  }

  &__inner {
    width: 50%;
    padding: 2rem;

    @include mw($tb) {
      width: 100%;
      padding: 1rem 0.5rem;
    }

    &:first-child {
      border-right: var(--line) solid var(--basic-dark);
    }
  }

  &__icon_big {
    svg {
      width: 4.125rem;
      height: 2rem;
    }
  }
  &__icon_grape {
    svg {
      width: 3.9rem;
      height: 0.75rem;
    }
  }
}
