@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.cool {
  box-sizing: border-box;
  height: var(--heigh);
  display: flex;
  flex-direction: column;
  border-right: var(--line) solid var(--basic-dark);
  width: var(--width);

  @include mw($tb) {
    height: auto;
    border-right: 0;
  }
  &__inner {
    display: flex;
    flex-grow: 1;

    @include mw($tb) {
      flex-direction: column;
      margin-left: 0.56rem;
      margin-right: 0.56rem;
      border-left: var(--line) solid var(--basic-dark);
      border-right: var(--line) solid var(--basic-dark);
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--basic-dark);
    display: flex;
    flex-direction: column;

    @include mw($tb) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.content {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("@/images/cool/cool-bg-new.svg");
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center 80%;
  flex-grow: 1;

  @include mw($ldt) {
    width: 50%;
  }

  @include mw($tb) {
    border: 0;
    width: auto;
    padding-bottom: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    aspect-ratio: 1 / 1;
    background-size: 85%;
    background-position: center bottom;
    background-image: url("@/images/cool/cool-bg-new.svg");
  }

  @include mw($ph) {
    aspect-ratio: 1 / 1.6;
  }

  &__head {
    width: 85%;

    @include mw($tb) {
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    color: var(--basic-dark);

    @include mw($tb) {
      font-size: 1.12rem;
    }
  }
}

.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  width: 43%;

  @include mw($ldt) {
    width: 50%;
  }

  @include mw($tb) {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 3rem;

    @include mw($tb) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: #fff;

    @include mw($tb) {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #fff;
    }
  }

  &__list {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 140%;
    color: var(--basic-dark);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @include mw($tb) {
      font-size: 1rem;
      row-gap: 1rem;
    }
  }

  &__item {
    padding-left: 2rem;
    position: relative;

    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      display: block;
      background-color: var(--color-green);
      flex-shrink: 0;
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
    }
  }

  &__link {
    color: var(--basic-dark);
    margin: 0 0.5rem;
    transition: 0.3s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--line);
      background-color: var(--basic-dark);
      transition: 0.3s;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
